@media (min-width: 1490px) {
    .section-welcome {
        .wrapper {
            gap: 80px;
        }
    }
}
@media (min-width: 1441px) {
    .section-post {
        .box-post {
            .content {
                p {
                    padding: 0 75px;
                }
            }
        }
    }
}
@media (min-width: 1205px) {
    .history-main {
        .history-box {
            .content {
                margin-right: 73px;
            }
            &.style-2 {
                .content {
                    margin-left: 100px;
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    .history-main {
        .history-box {
            .content {
                margin-right: 73px;
            }
        }
    }
}

@media (min-width: 1150px) {
    .tf-dropdown-sort {
        padding: 10px 18px;
        min-width: 193px;
    }
}

@media (min-width: 1024px) {
}
@media (min-width: 991px) {
}
/*max-width
-------------------------------------------------------------------*/
@media (max-width: 1441px) {
    #header-main {
        .header-inner-wrap {
            .header-left {
                gap: 30px;
            }
            .header-right {
                gap: 30px;
            }
        }
    }
}
@media (max-width: 1400px) {
    .section-our-menu {
        &::after {
            width: 400px;
            height: 400px;
            background-size: cover;
        }
    }
}
@media (max-width: 1300px) {
    .section-welcome {
        .wrapper {
            gap: 30px;
            .wrap-image {
                &.left {
                    height: 498px;
                    max-width: 329px;
                }
                &.right {
                    height: 350px;
                    width: 350px;
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    #header-main {
        .header-inner-wrap {
            .header-left {
                .navigation {
                    gap: 20px;
                }
            }
            .header-right {
                gap: 20px;
                .header-contact {
                    gap: 15px;
                }
            }
        }
    }
    .history-main {
        .history-box {
            .wrap-image,
            .content {
                width: 41%;
            }
        }
    }
    .section-post {
        flex-wrap: wrap;
    }
    .section-testimonial {
        .swiper-container {
            .swiper-button-next,
            .swiper-button-prev {
                display: none;
            }
        }
    }
    .testimonial-item {
        .paragraph {
            padding: 15px;
        }
    }
    .section-welcome {
        .wrapper {
            flex-wrap: wrap;
            justify-content: center;
            .wrap-image {
                &.left {
                    height: unset;
                    max-width: unset;
                    flex: unset;
                }
                &.right {
                    max-width: 414px;
                    max-height: 414px;
                    height: unset;
                    width: unset;
                    flex: unset;
                }
            }
            .content {
                text-align: center;
                .tf-btn {
                    margin: 0 auto;
                }
            }
        }
    }
}

@media (max-width: 1150px) {
    .section-location {
        .wrap-image {
            margin: 0 auto;
            margin-bottom: 30px;
        }
        .content {
            margin: 0 0px 20px;
        }
        .map-box {
            margin: 30px auto 0;
        }
    }

    .service-item {
        .content {
            padding-left: 15px;
            padding-right: 15px;
            h2 {
                font-size: 25px !important;
            }
        }
    }
}
@media (max-width: 1024px) {
    #header-main {
        .header-inner-wrap {
            .header-right {
                .header-contact {
                    display: none;
                }
            }
        }
    }
    .section-post {
        grid-template-columns: repeat(2, 1fr);
        .box-post {
            &.default {
                padding-top: 66px;
                padding-bottom: 66px;
            }
        }
    }
    .service-item {
        .content {
            padding-bottom: 50px;
        }
    }
}

@media (max-width: 991px) {
    br {
        display: none;
    }
    .item1,
    .item2 {
        display: none !important;
    }
    .grid-layout-3 {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px 20px !important;
    }
    #header-main {
        .header-inner-wrap {
            .header-left {
                gap: 20px;
                .navigation {
                    display: none;
                }
            }
            .header-right {
                .mobile-button {
                    display: block;
                }
            }
        }
    }
    .page-title-home {
        .swiper-container {
            .swiper-button-prev {
                display: none !important;
            }
            .swiper-button-next {
                display: none !important;
            }
        }
    }
    .article-blog-item {
        margin-bottom: 30px;
    }

    .tf-product-media-wrap {
        .image-top {
            img {
                width: 100%;
            }
        }
    }
    .section-our-menu {
        &::after {
            display: none;
        }
    }
    .section-location {
        .content {
            margin-right: 0;
            margin-left: 0;
        }
    }
    .section-welcome {
        .wrapper {
            gap: 30px;
            .content {
                padding-top: 0;
            }
            .wrap-image {
                &.right {
                    margin-top: 0;
                }
            }
        }
    }
    .section-best-selling {
        .item1,
        .item2 {
            display: none;
        }
    }
    .section-icon-box {
        .icon-box {
            margin-bottom: 30px;
            &::after {
                display: none;
            }
        }
    }

    .section-why {
        .content {
            padding-top: 45px;
        }
        &.page-about {
            .widget-video {
                margin: 0 auto;
            }
            .content {
                margin-left: 0;
            }
        }
    }
    .shop-detail {
        .tf-product-media-wrap {
            .image-bottom {
                justify-content: start;
            }
        }
    }
    .section-sign-up {
        .wrap-sign-up {
            .title,
            .text-paragraph,
            .form-send-email {
                padding: 0 15px;
            }
        }
    }
    .history-main {
        &::before {
            margin: 0 0 0 30px;
        }
        .history-box {
            &::before {
                left: -95px !important;
            }
            &::after {
                left: -95px !important;
            }
            flex-direction: column;
            align-items: flex-start;
            margin-left: 125px;
            margin-bottom: 70px !important;
            .wrap-image {
                width: 100%;
                margin: 30px 0 30px;
            }
            .content {
                width: 100%;
                padding-top: 0 !important;
                margin: 0 0 0 !important;
            }
        }
    }
    .section-menu{
        .wrap-menu-item{
            margin-left: 0;
        }
    } 
}

@media (max-width: 820px) {
    .cart-item {
        flex-wrap: wrap;
        row-gap: 0px;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 45px !important;
        line-height: 50px !important;
    }
    h2 {
        font-size: 30px !important;
        line-height: 30px !important;
    }
    .text-4 {
        font-size: 35px;
        line-height: 45px;
    }
    .main-content {
        padding-top: 50px !important;
        padding-bottom: 50px !important;
    }
    .tf-spacing-1,
    .tf-spacing-2,
    .tf-spacing-3,
    .tf-spacing-4,
    .tf-spacing-5,
    .tf-spacing-6,
    .tf-spacing-7,
    .tf-spacing-8,
    .tf-spacing-9,
    .tf-spacing-10,
    .tf-spacing-11,
    .tf-spacing-12,
    .tf-spacing-13,
    .tf-spacing-14,
    .tf-spacing-15,
    .tf-spacing-16,
    .tf-spacing-17 {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .heading-section {
        margin-bottom: 10px !important;
        .sub-title,
        p,
        .title {
            margin-bottom: 5px !important;
        }
    }
    .grid-layout-3 {
        grid-template-columns: repeat(1, 1fr);
    }

    .page-title {
        padding-top: 160px;
        padding-bottom: 100px;
        background-attachment: unset !important;
        .content {
            .under-line {
                margin-bottom: 40px;
            }
        }
        &.style-2 {
            padding-top: 160px;
            padding-bottom: 160px;
        }
    }
    #footer {
        .wrap-footer {
            .footer-body {
                padding-top: 60px;
            }
            .footer-bottom {
                justify-content: center;
            }
        }
    }
    .section-blog-grid {
        padding-top: 20px;
        .article-blog-item {
            .image {
                img {
                    height: auto;
                }
            }
        }
    }
    .widget-video {
        margin-bottom: 30px;
    }

    .section-welcome {
        .wrapper {
            .content {
                .desc {
                    margin-bottom: 20px;
                }
            }
        }
    }
    .history-main {
        padding-bottom: 70px;
        .history-box {
            &::before {
                width: 30px;
            }
        }
    }
    .product-item {
        margin-bottom: 30px;
    }
    .service-item {
        .content {
            .icon,
            h2,
            p {
                margin-bottom: 20px;
            }
        }
    }
    .section-why {
        .content {
            padding-top: 0;
        }
        .counter {
            margin-top: 30px !important;
            margin-bottom: -30px !important;
        }
        &.page-about {
            .content {
                padding-top: 30px;
            }
        }
    }
    .section-testimonial {
        .swiper-container {
            margin-bottom: 40px;
        }
    }
    .intro {
        margin-bottom: 30px;
    }
    .icon-box {
        .icon {
            margin-bottom: 10px;
        }
    }
    .portfolio-item {
        .wrap-image {
            margin-bottom: 15px;
        }
    }
    .section-shop {
        .tf-sidebar {
            margin-top: 30px;
        }
    }
    .product-item {
        margin-bottom: 40px;
        .wrap-image {
            margin-bottom: 15px;
        }
    }
    .counter {
        .number-counter {
            margin-bottom: 30px;
            &::after {
                display: none;
            }
        }
    }
    .testimonial-item {
        .icon {
            margin-bottom: 10px;
        }
        .paragraph {
            margin-bottom: 15px;
        }
    }
}
@media (max-width: 757px) {
    .widget-tabs {
        .widget-menu-tab {
            justify-content: unset;
            padding-bottom: 10px;
            margin-bottom: 20px;
        }
    }
}
@media (max-width: 700px) {
    .reservations-location .map-box {
        width: 345px;
        height: 345px;
        margin-bottom: 30px;
    }
    .section-follow {
        .wrap-follow-item {
            flex-wrap: wrap;
        }
    }
    .wg-404 {
        .content {
            .title {
                &::before {
                    transform: translateX(-175px);
                    top: 0;
                    font-size: 165px;
                }
                img {
                    width: 200px;
                }
                &::after {
                    transform: translateX(175px);
                    top: 0;
                    font-size: 165px;
                }
            }
        }
    }
    .testimonial-item {
        .paragraph {
            font-size: 22px;
        }
    }
}
@media (max-width: 690px) {
    .section-follow {
        .wrap-follow-item {
            .follow-item {
                width: 48%;
            }
        }
    }
}
@media (max-width: 575px) {
    .section-why {
        .wrap-image {
            .image {
                max-width: 100%;
            }
        }
        .content {
            padding-top: 30px;
        }
    }
}
@media (max-width: 570px) {
    .shop-detail {
        .content-inner {
            padding-left: 0;
        }
    }
}
@media (max-width: 550px) {
    .text-4 {
        font-size: 30px;
        line-height: 35px;
    }
    .tf-top-bar {
        text-align: center;
        .wrap-top {
            flex-direction: column;
            align-items: center;
            .list-info {
                justify-content: center;
                li {
                    align-items: flex-start;
                }
            }
        }
    }
    #header-main {
        .header-inner-wrap {
            .header-right {
                .wrap-header-icons {
                    gap: 40px;
                    .header-cart {
                        &::before {
                            left: -20px;
                        }
                    }
                }
            }
        }
    }
    .counter {
        .number-counter {
            .counter-content {
                font-size: 60px;
            }
        }
    }
    .section-post {
        grid-template-columns: repeat(1, 1fr);
    }
    .service-item {
        .content {
            padding-bottom: 30px;
        }
    }
    .grid-layout-5 {
        grid-template-columns: repeat(1, 1fr);
    }
    .section-follow {
        .wrap-follow-item {
            .follow-item {
                width: 100%;
                height: auto;
            }
        }
    }
    .map-box {
        height: 300px;
        width: 300px;
    }
    .history-main {
        .history-box {
            &::before,
            &::after {
                left: -50px !important;
            }
            margin-left: 80px;
            margin-bottom: 50px !important;
            .wrap-image {
                .item-history2 {
                    width: 40%;
                    right: -11px !important;
                }
                .item-history3 {
                    width: 60%;
                }
            }
        }
    }
    .our-menu-item {
        .content {
            padding: 0;
            p {
                margin-bottom: 0 !important;
            }
        }
    }
    .service-item {
        .content {
            .icon,
            h2,
            p {
                margin-bottom: 4px;
            }
        }
    }
    .section-location {
        .content {
            h5 {
                margin-bottom: 2px;
            }
            .number {
                margin-bottom: 8px;
            }
        }
    }
}

@media (max-width: 375px) {
    .our-menu-item {
        .content {
            .wrap {
                padding: 40px 5px 0;
                .title {
                    margin-bottom: 2px;
                }
            }
        }
    }
    .section-our-product {
        &.page-our-menu {
            .our-menu-item {
                .content {
                    .wrap {
                        padding: 27px 0px 0;
                        .price {
                            margin-bottom: 4px;
                        }
                        .title {
                            margin-bottom: 3px;
                        }
                    }
                }
            }
        }
    }
}
