.article-blog-item {
    margin-bottom: 66px;
    position: relative;
    @include transition3();
    .image {
        height: 100%;
        width: 100%;
        margin-bottom: 11px;
        position: relative;
        z-index: 1;
        overflow: hidden;
        img {
            object-fit: cover;
            height: 389px;
            width: 100%;
            @include transition3();
        }
    }
    .content {
        position: relative;
        z-index: 2;
        overflow: hidden;
        .meta {
            @include flex(center, start);
            margin-bottom: 4px;
            flex-wrap: wrap;
            color: #666666;
            gap: 0px 33px;
            li {
                font-weight: 400;
                font-size: 13px;
                line-height: 35px;
            }
            li:not(:last-child) {
                position: relative;
                &::after {
                    position: absolute;
                    width: 13px;
                    height: 1px;
                    content: "";
                    top: 50%;
                    right: -20px;
                    background-color: var(--Primary);
                }
            }
        }
        .title {
            margin-bottom: 22px;
            a {
                font-weight: 700;
                letter-spacing: 0.7px;
            }
        }
        .text {
            opacity: 0;
            visibility: hidden;
            @include transition3();
        }
        .tf-btn-default {
            margin-top: -75px;
            padding-top: 22px;
            border-top: 1px solid var(--Line);
            letter-spacing: 1.3px;
            gap: 0px;
            position: relative;
            z-index: 4;
            background-color: var(--White);
            i {
                font-size: 23px;
                color: var(--Primary);
            }
        }
    }
    &:hover {
        .image {
            img {
                margin-top: -90px;
            }
        }
        .text {
            opacity: 1;
            visibility: visible;
            margin-top: -9px;
        }
        .tf-btn-default {
            margin-top: 24px;
            padding-top: 22px;
        }
    }
}

.hover-img {
    overflow: hidden;
    img {
        -webkit-transition: all 1s cubic-bezier(0.3, 1, 0.35, 1) 0s;
        transition: all 1s cubic-bezier(0.3, 1, 0.35, 1) 0s;
        transition: transform 500ms ease;
    }

    &:hover {
        img {
            -webkit-transform: scale3d(1.1, 1.1, 1.1);
            transform: scale3d(1.1, 1.1, 1.1);
            -webkit-transition: all 2s cubic-bezier(0.3, 1, 0.35, 2) 0s;
            transition: all 2s cubic-bezier(0.3, 1, 0.35, 2) 0s;
        }
    }
}
