.tf-btn-default {
    @include flex(center, start);
    gap: 7px;
    font-size: 13px;
    line-height: 25px;
    font-weight: 500;
    color: var(--Secondary);
}

.tf-btn {
    @include flex(center, center);
    width: max-content;
    text-transform: uppercase;
    color: var(--White);
    font-size: 13px;
    letter-spacing: 1.6px;
    font-weight: 500;
    @include prefix(transition, all 300ms ease-in-out, webkit);
    overflow: hidden;
    &.btn-color-primary {
        background-color: var(--Primary);
        &:hover{
        background-color: var(--Secondary);
        }
    }
    &.btn-color-secondary {
        background-color: var(--Secondary);
        &:hover{
            background-color: var(--Primary); 
            }
    }
    &.btn-switch-text {
        > span {
            display: inline-flex;
            align-items: center;
            position: relative;
            overflow: hidden;
            height: 50px;
            padding: 0 38px ;
        }
        .btn-double-text {
            transition: opacity 0.3s, transform 0.6s;
            transition-timing-function: cubic-bezier(0.15, 0.85, 0.31, 1);
            color: var(--White);
            line-height: 18px;
            &:before {
                content: attr(data-text);
                display: inline-block;
                position: absolute;
                white-space: nowrap;
                top: 50%;
                opacity: 0;
                left: 50%;
                transform: translate(-50%, 100%);
                transition: opacity 0.5s, transform 0.8s;
                transition-timing-function: cubic-bezier(0.15, 0.85, 0.31, 1);
            }
        }
        &:hover,
        &:active {
            .btn-double-text {
                transform: translateY(-200%);
                &:before {
                    transform: translate(-50%, 150%);
                    opacity: 1;
                }
            }
        }
    }
}
