form {
    position: relative;
    z-index: 30;
    textarea,
    input[type="text"],
    input[type="password"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="date"],
    input[type="month"],
    input[type="time"],
    input[type="week"],
    input[type="number"],
    input[type="email"],
    input[type="url"],
    input[type="search"],
    input[type="tel"],
    input[type="color"] {
        outline: 0;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        width: 100%;
        padding: 10px 17px;
        font-size: 14px;
        font-weight: 400;
        line-height: 29px;
        background-color: var(--Bg-2);
        border: 1px solid var(--Bg-2);
        color: var(--Text);
        overflow: hidden;
        @include transition3();
        &::placeholder {
            font-size: 15px;
            font-weight: 400;
            line-height: 29px;
            color: var(--Text);
        }
        &:focus {
            border: 1px solid var(--Primary);
            transition: all 0.3 ease-in-out;
            background-color: var(--White);
           @include box-shadow();
        }
        &.style-default {
            padding: 0;
            background-color: transparent;
        }
        &.style-1 {
            margin-bottom: 22px;
        }
    }
    .cols {
        @include flex(center, center);
        gap: 23px 21px;
        width: 100%;
        &.cols-two {
            > * {
                width: 49%;
            }
        }
    }
    button,
    input[type="button"],
    input[type="reset"],
    input[type="submit"] {
        background-color: transparent;
        overflow: hidden;
        padding: 0;
    }
    textarea {
        height: 213px;
    }
}

fieldset {
    margin-bottom: 0px;
    width: 100%;
    .tf-input {
        -webkit-transition: all 0.1s ease;
        -moz-transition: all 0.1s ease;
        -ms-transition: all 0.1s ease;
        -o-transition: all 0.1s ease;
        transition: all 0.1s ease;
    }
}
.form-send-email,
.form-search {
    fieldset input {
        padding-right: 90px;
        padding-left: 15px;
        font-size: 15px;
        line-height: 29px;
        color: var(--Secondary);
        &::placeholder {
            font-size: 15px;
            line-height: 29px;
            font-weight: 400;
            color: var(--Black);
        }
    }
    .button-submit {
        position: absolute;
        right: 23px;
        top: 50%;
        @include center(0, -50%);
        button {
            cursor: pointer;
        }
    }
}
.form-search {
    fieldset input {
        border-radius: 4px;
    }
    .button-submit {
        i {
            color: var(--Primary);
            font-weight: 700;
        }
    }
}
