/*range-slider
    ---------------------*/
.range-slider {
    #range-two-val {
        margin-bottom: 10px;
        height: 1px;
        box-shadow: none;
        border: 0;
        background-color: var(--Text-top-bar);
        margin-bottom: 40px;
        .noUi-connects {
            .noUi-connect {
                background-color: #2d2723;
            }
        }

        .noUi-origin {
            .noUi-handle {
                cursor: pointer;
                width: 9px;
                height: 9px;
                border-radius: 50%;
                background-color: #2d2723;
                border: none;
                box-shadow: none;
                top: 0;
                right: -9px;
                transform: translate(-50%, -50%);
                &:active {
                    width: 17px !important;
                    height: 17px !important;
                    border: 4px solid #c3a27c !important;
                    right: -17px !important;
                }
                &::after,
                &::before {
                    display: none;
                }
            }
        }
    }
    .bottom {
        @include d-flex();
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 10px;
        a {
            color: var(--White);
            height: 40px;
            padding: 0 32px;
        }
    }
    .value {
        @include flex(center, space-between);
        > div {
            font-size: 17px;
            font-weight: 400;
            line-height: 28px;
            color: var(--text);
        }
    }
}
