// settings
$font-main: "DM Sans", sans-serif; 
$font-main2: "CormorantInfant", sans-serif;
$fontIcon: "icomoon";

:root {
    --Primary:#d2a452;
    --Secondary: #1f1e1e;
    --White: #ffffff;
    --Black:#000000;
    --text:#171412;
    --text-2:#151515;
    --text-3:#ededed;
    --body-text: #666666;
    --Text-top-bar:#dedede ;
    --sort-text:#c28e32;
    --Border:#807168 ;
    --Line:#e1e2e3;
    --Bg-1: #3a3939;
    --Bg-2:#f1f1f1;
}