.widget-tabs {
    .widget-menu-tab {
        @include d-flex();
        justify-content: center;
        gap: 46px;
        letter-spacing: 2px;
        .item-title {
            font-size: 17px;
            line-height: 29px;
            color: var(--text);
            font-weight: 700;
            white-space: nowrap;
            cursor: pointer;
            @include transition3();
            &.active,
            &:hover {
                color: var(--Primary);
            }
        }
    }
    &.style-2 {
        .widget-menu-tab {
            padding-bottom: 22px;
            gap: 50px;
            border-bottom: 1px solid var(--Text-top-bar);
            justify-content: start;
            letter-spacing: 1.5px;
            margin-bottom: 34px;
            .item-title {
                position: relative;
                font-family: $font-main2;
                &::before {
                    position: absolute;
                    content: "";
                    bottom: -22px;
                    left: auto;
                    right: 0;
                    width: 0;
                    height: 3px;
                    background-color: var(--Primary);
                    @include transition3;
                }
                &.active,
                &:hover {
                    color: var(--Primary);
                    &::before {
                        width: 100%;
                        left: 0;
                        // right: auto;
                    }
                }
            }
        }
    }
}
